{% extends 'blog/base.html' %}
{% block content %}
            <h1> {{ post.title }}</h1>
            <div class="post">
                {% if post.published_date %}
                {% endif %}
                <p>
                    {% if post.image %}<img src="{{ post.image.url }}"/> {% endif %}
                    {{post.text|linebreaksbr}}
                </p>

                <p> Written by {{  post.author }}
                    {% if post.category %}
                        on <a href="{% url 'post_list' %}?cat={{ post.category_id }}">{{ post.category }}</a>
                    {% endif %}
                </p>
            </div>
{% endblock content %}