<!DOCTYPE html><html lang=” el ”>
    <head>
        <title>Our blog </title>
    </head>
    <body>
        <div><h1> <a href=”"/ ”>Our blog</a></h1></div>

        <div>
            <h2><a href=””>First post</a></h2>
            <p>Published on: 14.06.2019, 12:14</p>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam
            venenatis vestibulum . Donec id e l i t non mi porta gravida at
            eget metus. Fusce dapibus , tellus ac cursus commodo, tortor
            mauris condimentum nibh , ut fermentum massa justo s i t amet
            risus .
            </p>
     </div>
     <div>
         <h2><a href=””>Second post</a></h2>
        <p>Published on: 14.06.2019, 12:16</p>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam
        venenatis vestibulum . Donec id e l i t non mi porta gravida at
        eget metus. Fusce dapibus , tellus ac cursus commodo, tortor
        mauris condimentum nibh , ut f .
        </p>
     </div>
 </body>